doctype html
html
    head
        title dark school
        link(rel='stylesheet' href='/css/main.css')
        link(rel='stylesheet' href='/css/header.css')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/player.css')
        link(rel='stylesheet' href='/css/videos.css')
        link(rel='stylesheet' href='/css/glitch.css')
        link(rel='stylesheet' href='/css/index.css')
        script(src='bower_components/jquery/dist/jquery.min.js')
        script(src='/videos.js')
    body
        include header.pug
