include html.pug
div.separator
div#splash
div.separator
h2 Create the need for freedom.
h3
    p
        | Dark.school is an 
        a(href='https://gitlab.com/bidetaggle/dark.school') open source website 
        |
        | which aim to keep a record of the 
        a(href='https://en.wikipedia.org/wiki/Technological_singularity') Singularity 
        | era in Humans History and underline its progressive 
        a(href='https://www.slideshare.net/hirsoshnakagawa3/social-effects-by-the-singularity-presingularity-era') social effect
        | .
    p This website is based on web technologies such as node, expressjs and pug. For now you can browse text files and embedded videos from the navigation bar on the top. To store these files, we plan to use decentralized networks like IPFS (and running our own node) and/or steemit (for article types). Ideas or contributions are welcome.
    p 
        | You like the picture? We host it on our nextcloud, you can browse the content served to this website 
        a(href='https://nextcloud.whywindows.com/index.php/s/j8eYLMG7P4H4G6K') here
        | .
