
include html.pug
article
    h2 The Crypto Anarchist Manifesto

    p Timothy C. May <tcmay@netcom.com>,
        date Sun, 22 Nov 92 12:11:24 PST

    p A specter is haunting the modern world, the specter of crypto anarchy.

    p Computer technology is on the verge of providing the ability for individuals and groups to communicate and interact with each other in a totally anonymous manner. Two persons may exchange messages, conduct business, and negotiate electronic contracts without ever knowing the True Name, or legal identity, of the other. Interactions over networks will be untraceable, via extensive re- routing of encrypted packets and tamper-proof boxes which implement cryptographic protocols with nearly perfect assurance against any tampering. Reputations will be of central importance, far more important in dealings than even the credit ratings of today. These developments will alter completely the nature of government regulation, the ability to tax and control economic interactions, the ability to keep information secret, and will even alter the nature of trust and reputation.

    p The technology for this revolution--and it surely will be both a social and economic revolution--has existed in theory for the past decade. The methods are based upon public-key encryption, zero-knowledge interactive proof systems, and various software protocols for interaction, authentication, and verification. The focus has until now been on academic conferences in Europe and the U.S., conferences monitored closely by the National Security Agency. But only recently have computer networks and personal computers attained sufficient speed to make the ideas practically realizable. And the next ten years will bring enough additional speed to make the ideas economically feasible and essentially unstoppable. High-speed networks, ISDN, tamper-proof boxes, smart cards, satellites, Ku-band transmitters, multi-MIPS personal computers, and encryption chips now under development will be some of the enabling technologies.

    p The State will of course try to slow or halt the spread of this technology, citing national security concerns, use of the technology by drug dealers and tax evaders, and fears of societal disintegration. Many of these concerns will be valid; crypto anarchy will allow national secrets to be trade freely and will allow illicit and stolen materials to be traded. An anonymous computerized market will even make possible abhorrent markets for assassinations and extortion. Various criminal and foreign elements will be active users of CryptoNet. But this will not halt the spread of crypto anarchy.

    p Just as the technology of printing altered and reduced the power of medieval guilds and the social power structure, so too will cryptologic methods fundamentally alter the nature of corporations and of government interference in economic transactions. Combined with emerging information markets, crypto anarchy will create a liquid market for any and all material which can be put into words and pictures. And just as a seemingly minor invention like barbed wire made possible the fencing-off of vast ranches and farms, thus altering forever the concepts of land and property rights in the frontier West, so too will the seemingly minor discovery out of an arcane branch of mathematics come to be the wire clippers which dismantle the barbed wire around intellectual property.

    p Arise, you have nothing to lose but your barbed wire fences!

article
    h2 . . : : The Hacker's Manifesto : : . .

    p Loyd Blankenship,
        date 1986

    p Another one got caught today, it's all over the papers. "Teenager arrested in computer crime scandal", "Hacker arrested after bank tampering"...

    p Damn Kids. They're all alike.

    p But did you, in your three-piece psychology and 1950's technobrain ever take a look behind the eyes of a hacker? Did you ever wonder what made him tick, what forces shaped him, what may have molded him?

    p I am a hacker, enter my world...

    p Mine is a world that begins with school. I've listened to the teacher explain for the fifteenth time how to reduce a fraction. I understand it. "No, Mrs. Smith, I didn't show my work. I did it in my head..."

    p Damn kid. Probably copied it. They're all alike.

    p I made a discovery today. I found a computer. Wait a second, this is cool. It does what I want it to do. If it makes a mistake, it's because I screwed up. Not because it doesn't like me...

    p or feels threatened by me...

    p or thinks I'm a smart ass...

    p or doesn't like teaching and shouldn't be here...

    p Damn kid. All he does is play games. They're all alike.

    p And then it happened... A door opened to a world... Rushing through the phone line like heroin through an addict's veins, an electronic pulse is sent out, a refuge from the day to day incompetencies is sought... A board is found.

    p "This is it... This is where I belong..."

    p I know everyone here... Even if I've never met them, never talked to them, may never hear from them again... I know you all...

    p Damn kid. Tying up the phone line again. They're all alike...

    p You bet your ass we're all alike... We've been spoon fed baby food at school when we hungered for steak... The bits of meat that you did let slip through were pre-chewed and tasteless. We've been dominated by sadists, or ignored by the apathetic. The few that had something to teach found us willing pupils, but those few are like drops of water in the desert.

    p This is our world now... The world of the electron and the switch, the beauty of the baud. We make use of a service already existing without paying for what could be dirt cheap if it wasn't run by profiteering  gluttons, and you call us criminals. We explore... And you call us criminals. We exist without skin color, without nationality, without  religious bias... And you call us criminals. You build atomic bombs, you wage wars, you murder, you cheat, and lie to us and try to make us believe it's for our own good, yet we're the criminals.

    p Yes, I am a criminal. My crime is that of curiosity. My crime is that of judging people by what they say and think, not what they look like. My crime is that of outsmarting you, something that you will never forgive me for.

    p I am a hacker, and this is my manifesto. You may stop this individual, but you can't stop us all...

    p After all, We're all alike.

    p +++The Mentor+++
