include html.pug
div#player
    span.closeButton Close.
    div.title
    div.frame
//iframe(width='560' height='315' src='https://www.youtube-nocookie.com/embed/2HBmqn1F91A' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
//iframe(width="560" height="315" sandbox="allow-same-origin allow-scripts" src="https://peertube.cpy.re/videos/embed/d2a5ec78-5f85-4090-8ec5-dc1102e022ea" frameborder="0" allowfullscreen='')
ul
    each video in Videos
        li.video(data-link=video.url)= video.title
