
.glitch {
  position: relative;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(91px, 9999px, 18px, 0);
  }
  5% {
    clip: rect(2px, 9999px, 88px, 0);
  }
  10% {
    clip: rect(2px, 9999px, 25px, 0);
  }
  15% {
    clip: rect(41px, 9999px, 12px, 0);
  }
  20% {
    clip: rect(13px, 9999px, 86px, 0);
  }
  25% {
    clip: rect(65px, 9999px, 79px, 0);
  }
  30% {
    clip: rect(32px, 9999px, 79px, 0);
  }
  35% {
    clip: rect(18px, 9999px, 31px, 0);
  }
  40% {
    clip: rect(60px, 9999px, 62px, 0);
  }
  45% {
    clip: rect(66px, 9999px, 1px, 0);
  }
  50% {
    clip: rect(3px, 9999px, 27px, 0);
  }
  55% {
    clip: rect(30px, 9999px, 100px, 0);
  }
  60% {
    clip: rect(76px, 9999px, 17px, 0);
  }
  65% {
    clip: rect(11px, 9999px, 17px, 0);
  }
  70% {
    clip: rect(9px, 9999px, 53px, 0);
  }
  75% {
    clip: rect(38px, 9999px, 13px, 0);
  }
  80% {
    clip: rect(38px, 9999px, 97px, 0);
  }
  85% {
    clip: rect(95px, 9999px, 43px, 0);
  }
  90% {
    clip: rect(82px, 9999px, 16px, 0);
  }
  95% {
    clip: rect(45px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(17px, 9999px, 53px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  background: #272822;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(30px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(26px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(60px, 9999px, 19px, 0);
  }
  15% {
    clip: rect(46px, 9999px, 47px, 0);
  }
  20% {
    clip: rect(3px, 9999px, 67px, 0);
  }
  25% {
    clip: rect(67px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(99px, 9999px, 52px, 0);
  }
  35% {
    clip: rect(91px, 9999px, 46px, 0);
  }
  40% {
    clip: rect(14px, 9999px, 46px, 0);
  }
  45% {
    clip: rect(43px, 9999px, 38px, 0);
  }
  50% {
    clip: rect(54px, 9999px, 28px, 0);
  }
  55% {
    clip: rect(13px, 9999px, 31px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 91px, 0);
  }
  65% {
    clip: rect(55px, 9999px, 5px, 0);
  }
  70% {
    clip: rect(81px, 9999px, 83px, 0);
  }
  75% {
    clip: rect(84px, 9999px, 40px, 0);
  }
  80% {
    clip: rect(96px, 9999px, 82px, 0);
  }
  85% {
    clip: rect(91px, 9999px, 63px, 0);
  }
  90% {
    clip: rect(42px, 9999px, 43px, 0);
  }
  95% {
    clip: rect(13px, 9999px, 40px, 0);
  }
  100% {
    clip: rect(75px, 9999px, 58px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  text-shadow: 1px 0 blue;
  top: 0;
  background: #272822;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
