header{
    margin-bottom: 3rem;
}

header h1{
    color: black;
    text-shadow: 0px 0px 7px red;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    background-color: #272822;
    font-size: 2rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    margin: 0;
}
header h1 img{
    width: 2.2rem;
    padding-right: 1rem;
    float: left;
}

nav{
    text-align: center;
    background: rgb(39,40,34);
    margin-top: -4.2rem;
}

nav a{
    padding: 1rem;
    display: inline-flex;
}

nav a:hover{
    background-color: #373832;
}
