#splash {
	background-image: url('https://nextcloud.whywindows.com/index.php/s/j8eYLMG7P4H4G6K/preview');
	filter: contrast(1.4);
	height: 30rem;
	width: 100%;
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
}

h2 {
    text-align: center;
	margin-bottom: 3rem;
	color: white;
	font-weight: lighter;
}

h3 {
	font-weight: normal;
	color: black;
	text-align: center;
	padding: 3rem;
	text-align: justify;
	background-color: white;
}

.separator{
	transform: skew(0deg, -2deg) translateY(-2rem);
	height: 4rem;
	margin-bottom: -3rem;
	z-index: 1;
	background: rgb(55,56,50);
	background: linear-gradient(180deg, rgba(55,56,50,1) 0%, rgba(0,212,255,0) 100%);
}
