body{
    background-color: #373832;
    color: #a6e22e;
    font-family:sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-family: monospace;
    color: #0093cc;
}

a:hover{
    color: #a6e22e;
}

ul{
    list-style-type: none;
}
