#player{
    display: none;
    background-color: #272822;
    width: 560px;
    text-align: center;
    position: sticky;
    float: right;
    padding: 0.5rem;
}
#player iframe{
}
#player .closeButton {
	background-color: black;
    color: white;
	padding: 1rem;
	border-radius: 3rem;
	position: absolute;
	left: -1.5rem;
	top: -1.5rem;
}

#player .closeButton:hover {
    cursor: pointer;
    animation-name: blob;
    animation-duration: 0.5s;
    background-color: #a6e22e;
    padding: 2rem;
    color: black;
    top: -3rem;
    left: -3rem;
}
@keyframes blob {
    from {
        background-color: black;
        padding: 1rem;
        left: -1.5rem;
    	top: -1.5rem;
    }
    to {
        background-color: #a6e22e;
        padding: 2rem;
        top: -3rem;
        left: -3rem;
        color: black;
    }
}

#player .title{
    position: absolute;
    top: 50%;
    width: 100%;
    margin: -0.5rem;
    z-index: -1;
}
