article{
    padding: 2rem;
    text-align: justify;
    background-color: #272822;
    margin: 3rem;
}
article h2{
    color: white;
    font-family: sans-serif;
    text-shadow: 0px 0px 7px red;
}
article date{
    color: #0093cc;
}
